.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#imageRender {
  padding: 10px;
  display: flex
}

.singleImage {
  display: flex;
  flex-direction: column;
  border: 5px solid yellow;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Button {
  margin-top: 10px;
}

img {
  height: 200px;
  width: 200px;
}


